# Build
build/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
.idea/
*.iml
*.iws
.vscode/

# Spring Boot
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Logs
logs/
*.log

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db
